{% extends 'home/base.html' %}
{% load staticfiles %}
{% block 'content' %}




  <!--Nav Screen, Start-->
 <div id="myNav" class="overlay">
  <!--Nav Screen, Content-->
     <div class="overlay-content">
       <a href="home.html">HOME</a>
      <a href="events.html">EVENTS</a>
     <a href="about.html" >ABOUT</a>
     <a href="contact.html" class="underlined">CONTACT</a>
     </div>
   <div class="menuFoot"><p>PROUDLY SOUTH AFRICAN! </p></div>
 </div>
 <!--Nav Screen, End-->

    <!--Body Block, Start-->
    <div class="about1 col-md-12">
    <div class="bodyBlock col-md-10 col-md-offset-1">
        <div class="bodyHead col-md-7 col-md-offset-3">
            <h1> QUESTIONS?</h1>
        </div>

    <div class= "homeContent col-md-12 ">
            <div class= " col-md-12 ">
          <br/><br/>
            <div class="contact col-md-6 col-md-offset-1">
            <form>
                <input type="text" name="name" placeholder="Full Name"><br/>
                <input type="email" name="email" placeholder="Your Email"><br/>
                <textarea rows="7" cols="50" placeholder="Message"></textarea><br/>
                <input type="submit" name="name" class="send" value="SEND">
            </form>
            </div>
            <div class="contact col-md-4">
              <div class="col-md-12 icon">
                  <img src="{% static "images/message.png" %}"><br>
                 <div class="roboto iconText col-md-12 icon">hello@roaminghomes.co.za</div>
             </div>
             <div class="col-md-12 icon">
                <img src="{% static "images/phone.png" %}"><br>
                <div class="roboto iconText col-md-12 icon">+27 72 123 1234</div>
            </div>
            <div class="col-md-12 icon">
                <img src="{% static "images/location.png" %}"><br>
               <div class="roboto iconText col-md-12 icon">24 Madeup Str Pretoria</div>
           </div>
            </div>

                    <br/>
      </div>
    </div>
    </div>
    </div>

    </div>

{% endblock %}
