{% extends 'home/base.html' %}
{% load staticfiles %}
{% block 'nav' %}

<div name="headerDiv" class="headerContainer">
    <div name="backBar" id="backBar" class="backBar">



            <div name="logo" class="logo">
                <a href="home.html"><img src="{% static "images/logo.png" %}"/></a>

            </div>

          <div class="top">
                <ul class="login">
                  {% if request.user.is_authenticated %}
                      <li><a href="{% url 'event_add' %}">Create Event</a></li>
                    <li><a href="/logout/">Log out</a></li>
                  {% else %}
                    <li> <a href="login.html">LOGIN</a></li>
                    <li> <a href="register.html">REGISTER</a></li>
                  {% endif %}

                      <li>
                         <button class="c-hamburger c-hamburger--htx" >
                          <span>toggle menu</span>
                        </button>
                      </li>

              </ul>
            </div>
    </div>


</div>
{% endblock %}
