{% extends 'home/index.html' %}

{% block 'content' %}
<h1>About</h1>
        <h2>Roaming Homes</h2>

        <p>
            Roaming Homes is a <strong>Proudly South African</strong> Non-Profit Organisation
            aimed at offering shelter, food and clothes to those in need through a collection of
            repurposed city buses. There are several buses, all equipped with bunk beds
            and ablution facilities, that travel around Johannesburg, offering those in need a
            safe place to sleep and wash up, as well as receive a meal.
            <br/><br/>

            Roaming homes relies on the donations and help of the community. As a NPO we are always
            in need of volunteers and donations in the form of clothes, tinned foods, bedding,
            toiletries and monetary donations.
        </p>
{% endblock %}